.pio
.vscode
.venv
KNOWN_ISSUES.md
desejos futuros.md
platformio_override.ini
wifi_credentials_local.h
include/secrets.h
ref/
.agent/
funcionalidades.txt
test_data/
include/email_credentials.h
content_data/
relatorios
compile_commands.json
tests/graph_maker/venv
tests/graph_maker/*/